body {
    margin: 0;
    background-color: #5a5f49;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* default */
/* navbar */
.navbar {
    background-color: #333; /* Dark background color for the navbar */
    overflow: hidden; /* Clear floats */
    padding: 30px;
}
.navbar a {
    float: left; /* Float the links to the left */
    display: block; /* Make the links block elements */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 16px;
    text-decoration: none; /* Remove underline from links */
    font-size: 24px;
}
.navbar a:hover {
    background-color: #ddd; /* Light grey background on hover */
    color: black; /* Black text color on hover */
}
.navbarLogo {
    float: left; /* Float the logo to the left */
}
nav {
    float: left; /* Float the navigation links to the left */
}
.navbar a:last-child {
    margin-right: 20px;
}
/* about */
.aboutContainer {
    padding: 100px;
}
.aboutContainer h1 {
    text-align: center;
    font-size: 35px;
}
.aboutContainer h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(238, 238, 238);
}
.aboutDescription {
    display: flex;
    align-items: center;
}
.aboutDescription img {
    width: 500px;
    border-radius: 50px;
    margin-right: 50px;
}
.aboutDescription p {
    font-size: 24px;
}
/* projects */
.projectsContainer {
    padding: 100px;
}
.projectsDescription h1 {
    text-align: center;
    font-size: 35px;
}
.projectsDescription p {
    font-size: 24px;
    text-align: center;
}
.projectsItem {
    background-color: gray;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 50px;
}
.projectsItem:last-child {
    margin-bottom: 0;
}
.projectsDisplay {
    display: flex;
    flex-wrap: wrap;
}
.projectsItem {
    width: 45%;
    margin: 1%;
}
.projectsDisplay img {
    width: 100%;
}
.projectsDisplay a {
    text-align: center;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
} 
/* skills */
.skillsContainer {
    padding: 100px;
}
.skillsDescription h1 {
    text-align: center;
    font-size: 35px;
}
.skillsDescription p {
    font-size: 24px;
    text-align: center;
}
.skillsDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillsDisplay .item {
    background-color: gray;
    text-align: center;
    width: 60%;
    font-size: 24px;
    border-radius: 15px;
    margin-bottom: 10px;
}
/* contact */
.contactContainer {
    padding: 100px;
    display: flex;
    align-items: center;
    /* text-align: center; */
}
.contactContainer h1 {
    font-size: 35px;
}
.contactContainer p {
    font-size: 24px;
}
#name, #email, #message {
    width: 100%;
    height: 1em;
    margin-bottom: 10px;
    font-size: 24px;
}
input[type="submit"] {
    background-color: rgb(102, 146, 102);
    color: white;
    font-size: 16px;
    width: 20%;
    margin: 10px auto;
}
iframe {
    margin-left: 100px;
    margin-right: 0px;
    width: 800px;
    height: 400px;
}
/* footer */
footer {
    background-color: #333;
    padding: 75px;
}
.footerContainer {
    display: flex;
    flex-direction: row;
}
.footerLink a {
    color: white;
    font-size: 16px;
}

/* Mobile, Tablet */
@media only screen and (max-width: 940px) {
    /* navbar */
    .navbar {
        background-color: #333; /* Dark background color for the navbar */
        overflow: hidden; /* Clear floats */
        padding: 30px;
    }
    .navbar a {
        float: left; /* Float the links to the left */
        display: block; /* Make the links block elements */
        color: white; /* White text color */
        text-align: center; /* Center the text */
        padding: 5px 5px;
        text-decoration: none; /* Remove underline from links */
        font-size: 14px;
    }
    .navbar a:hover {
        background-color: #ddd; /* Light grey background on hover */
        color: black; /* Black text color on hover */
    }
    .navbarLogo {
        float: left; /* Float the logo to the left */
    }
    nav {
        float: left; /* Float the navigation links to the left */
    }
    .navbar a:last-child {
        margin-right: 20px;
    }
    /* about */
    .aboutContainer {
        padding: 20px;
    }
    .aboutContainer h1, h2 {
        text-align: center;
    }
    .aboutContainer h2 {
        font-size: 18px;
        color: rgb(238, 238, 238);
    }
    .aboutDescription {
        display: block;
    }
    .aboutDescription img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        margin: 0 auto;
    }
    .aboutDescription p {
        font-size: 20px;
        text-align: center;
    }
    /* projects */
    .projectsContainer {
        padding: 20px;
    }
    .projectsDescription h1 {
        text-align: center;
    }
    .projectsDescription p {
        font-size: 20px;
        text-align: center;
    }
    .projectsDisplay {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }
    .projectsItem {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .projectsItem:last-child {
        margin-bottom: 0px;
    }
    /* skills */
    .skillsContainer {
        padding: 20px;
    }
    .skillsDescription h1 {
        text-align: center;
    }
    .skillsDescription p {
        font-size: 20px;
        text-align: center;
    }
    .skillsDisplay {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skillsDisplay .item {
        background-color: gray;
        text-align: center;
        padding: 5px;
        width: 60%;
        font-size: 18px;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .skillsDisplay .item:last-child {
        margin-bottom: 0;
    }
    /* contact */
    .contactContainer {
        padding: 20px;
        /* text-align: center; */
        display: flex;
        flex-direction: column;
    }
    .contactContainer h1 {
        text-align: center;
    }
    .contactContainer p {
        font-size: 20px;
    }
    #name, #email, #message {
        width: 100%;
        height: 2em;
        margin-bottom: 10px;
    }
    input[type="submit"] {
        background-color: rgb(102, 146, 102);
        color: white;
        font-size: 16px;
        width: 100%;
        margin: 10px auto;
    }
    iframe {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
}